#container { background-color: #c48e8e;
            color: #7c1e1e;
            min-width: 960px;
            font-family: Verdana, Arial, sans-serif; }
header { background-image: url("NIU Pattern.jpg");
       background-color: #838383;
        background-position: bottom;
        background-repeat: repeat-x;
        height: 120px;
        color: #ffffff;
        text-align: right;
        padding: 0 20px;
        border-bottom: 2px solid #000000; }
nav { float: left;
    width: 150px;
      border: 1px solid #000033;
}

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: red;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color:silver;
    color: white;
  }}